/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Red Rose:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Rampart One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:ital,wght@0,400;0,600;0,900;1,600&family=Raleway:wght@600&family=Roboto:wght@300&display=swap');
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/





body{
	margin: 0;
	/*background: rgb(198, 198, 220);*/
  background: whitesmoke;
	  color: blue;
    font-size: 14px;
    font-family: 'Merriweather', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    text-decoration: none;
	text-align: revert;
}

a{
	color:blue;
	text-decoration: none;
	text-align: revert;
}

/*Contiene el acomodo de la imagen de fondo del menu superior*/

.menu{
	background: url(../Images/bombas.jpg) ;
	width:100%;
	height: 10vh;
	color:white;
	font-size:2em;
	float: left;
  margin:0; 	
}

.logo {	
  	width:60%;
  	height: 10vh;
}


ul{
	list-style: none;
}

.uppermenu{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	font-family: 'Merriweather', sans-serif;
	font-size: 0.5em;
	
  margin: 0;	
  

}


.selectmenu{
	cursor:pointer;

}

.container{ 
  margin: auto;
  width: 100%;
  padding: 5vh;
  
}



ul.slider{
  position: relative;
  width: 120vh;
  height: 50vh;
  


}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
    border-radius:20px;
}



ul.slider li img{
  width: 120vh;
  height: 50vh;
  /*object-fit: cover;*/
  width: 100%;
  border-style: solid;
  border-radius:20px;
  border-color:lightgrey;
  border-width: 5px;
}

ul.slider > li img {
  width: 100%;

}


ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.slideMenuContainer{
  display:flex;
  justify-content: flex-end;
}

.SlideMenu{
  display:flex;
  justify-content: center;  
 }

.SlideMenu li{
  
  display: inline-block;
   text-align: center;
}

/*Contiene el formato de lo radio buttons que se encuentran debajo del carrusel de imagenes*/

.SlideMenu li a{
  display: inline-block;
  color: lightgrey;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

label{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5em;
}


.busqueda{

	float: right;
}

.busqueda{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin:2em;

}


/*Contiene todo el acomodo del pie de la pagina*/

.pieMenu{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  grid-gap: 20px;
 
 }

.menuPiePagina{
  background: url(../Images/bombas.jpg) ;
  width:100%;
  height:10vh;
 /* float: right;*/
  margin:0;
  
 }


 /* Acomoda los iconos de redes solciales del pie de pagina a la derecha*/

ul.pieMenu{  
  display:flex;
  justify-content: center;
  margin:1em;
   }

/*Muestra en las imagenes de las redes sociales en pie de pagina el cursor como puntero para direccionar a los enlaces correspondientes*/
  .facebook{
    cursor:pointer;
  }

  .Gmail{
    cursor:pointer;
  }

  .Twitter  {
    cursor:pointer;
  }




 

 

